:root {
    --font-family-main: "Montserrat",sans-serif;
    --font-family-header: "Inter",sans-serif;
    
    --font-size-s: 16px;
    --font-line-s: 22px;
    --font-s: var(--font-size-s / --font-line-s);
    --container-body: 1290px;
    --container-main: 1335px;

    --content-header: 80px;
}
