:root {
    --font-family-main: "Montserrat",sans-serif;
    --font-family-header: "Inter",sans-serif;
    
    /* s */
    --font-size-s: 16px;
    --font-line-s: 22px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    /* s */
    --font-size-s: 16px;
    --font-line-s: 22px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    /* s */
    --font-size-s: 16px;
    --font-line-s: 22px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);



    --container-body: 1290px;
    --container-main: 1335px;

    --content-header: 80px;
}
