.header {
    position: relative;
    background-color: var(--light-bg);
    flex-shrink: 0;
}
.container { 
    max-width: var(--container-main);
    margin: 0 auto;
}
.content {
    height: var(--content-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font: 
    display: flex;
    align-items: center;
    gap: 10px;
}

svg {
    color: var(--icon-color);
}
.buttons {
    svg {
        color: var(--icon-color);
    }
}