.header {
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
}
.container {
    max-width: 1335px;
    margin: 0 auto;
}
.content {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

svg {
    color: #ff7010;
}
.buttons {
    svg {
        color: #ff7010;
    }
}