.card {
    background: var(--light-bg);
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
.img {

}
.body {
    padding: 15px 20px;
}
.info {

}
.title {

}
.text {

}
.footer {
    display: flex;
    align-content: ;
}
.button {

}